<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Helpers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Helpers.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Helpers.Properties.Settings>
      <setting name="Host" serializeAs="String">
        <value/>
      </setting>
      <setting name="Login" serializeAs="String">
        <value/>
      </setting>
      <setting name="Password" serializeAs="String">
        <value/>
      </setting>
      <setting name="EnableSsl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="From" serializeAs="String">
        <value/>
      </setting>
      <setting name="FromDisplay" serializeAs="String">
        <value/>
      </setting>
    </Helpers.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Helpers.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>0</value>
      </setting>
    </Helpers.Properties.Settings>
    <Helpers.Settings>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </Helpers.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
